<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/styles/style.css">
    <title>BananaSec</title>
</head>
<body>
<div class="app">
    <h1>BananaSec</h1>
    <p class="prompt">Tap the lock to lock/unlock the door!</p>
    <input type="image" src="../static/lock.png" class="lock-submit"/>
        <p class="prompt">Tap the camera to capture a snapshot!</p>
    <input type="image" src="../static/camera.png" class="camera-snapshot"/>
</div>
</body>
</html>